
<!DOCTYPE html>
<html>
<body >

<p>Click the button to get your coordinates.</p>

<button onclick="getLocation()" >Try It</button>
<form action="http://localhost:5000/login" method = "POST">
<input name="lon" type="text" id="lon"></input>
<input name="lat" type="text" id="lat"></input>
<input type="submit" value="submit"/>
</form>
<script>

var x = document.getElementById("demo");

function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
  } else { 
    x.innerHTML = "Geolocation is not supported by this browser.";
  }
}

function showPosition(position) {
  var latlon = position.coords.latitude + "," + position.coords.longitude;
   document.getElementById('lat').value=position.coords.latitude;
document.getElementById('lon').value=position.coords.longitude;
  //var img_url = "https://maps.googleapis.com/maps/api/staticmap?center="+latlon+"&zoom=14&size=400x300&sensor=false&key=AIzaSyCoI3YKAJMSqhX5X081ZDMVni5-lo0JgkQ";

  document.getElementById("mapholder").innerHTML = "<img src='"+img_url+"'>";
  var directionsService = new google.maps.DirectionsService();

var request = {
  origin      : 'Melbourne VIC', // a city, full address, landmark etc
  destination : 'Sydney NSW',
  travelMode  : google.maps.DirectionsTravelMode.DRIVING
};

directionsService.route(request, function(response, status) {
  if ( status == google.maps.DirectionsStatus.OK ) {
    alert( response.routes[0].legs[0].distance.value ); // the distance in metres
  }
  else {
    // oops, there's no route between these two locations
    // every time this happens, a kitten dies
    // so please, ensure your address is formatted properly
  }
});
}

</script>

</body>
</html>
