<html>
<head>
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/demo.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}" />
		<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/animate-custom.css')}}" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		</head>
		
   <body>
   <div class="container">
               <header>
                <h1>WHITE TICKET</h1>
				<nav class="codrops-demos">
				</nav>
            </header>
			            <section>				
                <div id="container_demo" >
				                    <div id="wrapper">



<div  class="animate form">
      <form action = "http://localhost:5000/uploader" method = "POST" 
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit"/>
      </form>
	  </p>
                            </form>
                        </div>
   </body>
</html>